* {
    display: border-box;
    margin: 0;
    padding: 0;
    font-family: "Red Hat Mono", monospace;
}
:root {
    --back-clr: #14121a;
    --back-clr-alt: #282432;
    --fore-clr: #dbb45a;
    --fore-clr-alt: #c2a051;
    --box-min-width: 45%;
    --box-max-width: 60%;
}
body {
    background-color: var(--back-clr);
}
.center-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-width: var(--box-min-width);
    min-height: 150px;
    max-width: var(--box-max-width);
    max-height: 300px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
}
#popup-box {
    color: var(--fore-clr);
    height: 300px;
    background-color: var(--back-clr-alt);
    border-radius: 12px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 0;
}
#popup-header {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#popup-content {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 10px;
}
#popup-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.no-drag {
    -webkit-user-drag: none;
}
.no-select {
    user-select: none;
}
#divider {
    width: 100%;
}
#api-response {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-width: var(--box-min-width);
    min-height: 150px;
    max-width: var(--box-max-width);
    max-height: 300px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
#go-back {
    width: 90px;
}
#link {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
#link a {
  color: var(--fore-clr)
}
input[type="text"] {;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--fore-clr);
    background-color: var(--back-clr-alt);
    border: none;
}
input[type="text"]::placeholder {
    font-size: 11.5px;
    color: var(--fore-clr);
    text-align: center;
}
input[type="text"]:focus {
    color: var(--fore-clr);
    background-color: var(--back-clr-alt);
    box-shadow: 0 4px 8px 0 rgba(219, 180, 90, 0.2), 0 4px 8px 0 rgba(219, 180, 90, 0.2);
}
button {
    border: none;
    background-color: var(--fore-clr);
    color: var(--back-clr);
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    font-weight: 500;
}
button:hover {
    cursor: pointer;
}
